* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", "Poppins", sans-serif;
  }
  
  .container {
    width: 1512px;
    height: 100%;
  
    background: #f5bc23;
  }
  
  .container h2 {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 400px;
    font-size: 40px;
    line-height: 51px;
    color: #3c153b;
    padding-left: 112px;
    margin-bottom: 20px;
    padding-top: 66px;
  }
  
  .form {
    width: 1384px;
    height: 748px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f5bc23;
    border: 4px solid #c4c4c4;
    margin-left: 64px;
  }
  
  
  #bank,
  #account {
    width: 450px;
    height: 60px;
    margin-right: 704px;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 50px;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    border-radius: 3px;
    color: #3c153b;
  }
  #bank{
      margin-top: 0px;
  }
  
  .verify {
    margin-right: 704px;
    width: 350px;
    height: 60px;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    margin-left: 0px;
    margin-top: 40px;
    color: #f5bc23;
    background: #192033;
    border-radius: 3px;
  }
  
  
  