* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

/* homepage */

/*section home-page */

.home-page {
  width: 100%;
  height: 800px;
  background: linear-gradient(
    270deg,
    #ffffff 36.98%,
    rgba(245, 188, 35, 0.6) 98.96%
  );
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  margin-right: 190px;
  z-index: 2;
  margin-top: -120px;
}

.nav-links ul {
  display: flex;
  margin-right: 80px;
  margin-top: 10px;
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  color: rgb(32, 31, 31);
}

.nav-links button {
  margin-right: 10px;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
}
.nav-links a:hover{
    color: #744e74;
}

.nav-signup {
  margin-right: 10px;
  background-color: #192033;
  color: whitesmoke;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
}

.nav-login {
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
}

.nav-search {
  margin-left: 10px;
  margin-top: -115px;
}
#search {
  width: 200px;
  height: 25px;
  border-radius: 8px 0px 0px 8px;
  color: #686767;
  background-color: #c4c4c4;
}
#fa-search {
  width: 40px;
  height: 25px;
  border-radius: 0 8px 8px 0px;
  margin-left: -8px;
  color: #686767;
  background-color: #c4c4c4;
}

/* body */
.body {
  width: 100%;
  height: 100%;
  display: flex;
}
.monitize {
  position: relative;
  margin-left: 30px;
}
.monitize h2 {
  font-size: 60px;
  line-height: 92px;
  font-weight: 700px;
  color: #3c153b;
}

.monitize p {
  font-size: 36px;
  margin-top: 40px;
  line-height: 32px;
  font-weight: 400px;
  color: #3c153b;
}

.get-started {
  width: 350px;
  height: 50px;
  border-radius: 3px;
  background-color: #192033;
  color: #f5bc23;
  font-size: 25px;
  margin-top: 50px;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
}
.woman-img {
  margin-top: -55px;
  margin-left: 300px;
  z-index: 1;
}
.woman-img img {
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
}

.circle1 {
  position: absolute;
  width: 740px;
  height: 740px;
  left: 830px;
  top: -100px;
  border-radius: 50%;
  background: #f5bc23;
}
.circle2 {
  position: absolute;
  width: 72px;
  height: 72px;
  left: 1037px;
  top: 640px;
  background: #3c153b;
  border-radius: 50%;
}

/* section products */
.products {
  width: 100%;
  height: 1000px;
}
.products h1 {
  font-weight: 700px;
  font-size: 60px;
  line-height: 64px;
  text-align: center;
  color: #3c153b;
  margin-bottom: 70px;
}
img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.products p {
  margin-top: 20px;
  font-size: 20px;
}

.products img {
  width: 340px;
  height: 132px;
}

.product-img1 {
  display: flex;
  justify-content: space-evenly;
}
.product-img2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}

.img-product1,
.img-product2,
.img-product3,
.img-product4,
.img-product5,
.img-product6 {
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
}

.products button {
  margin-top: 120px;
  width: 360px;
  height: 50px;
  border-radius: 3px;
  font-size: 20px;
  background-color: #192033;
  color: #f5bc23;
  margin-left: 1035px;
}

.circle3 {
  position: absolute;
  width: 630px;
  height: 602px;
  left: 442px;
  top: 1200px;

  background: linear-gradient(
    180deg,
    rgba(245, 188, 35, 0.42) 0%,
    rgba(245, 188, 35, 0) 100%
  );
  filter: blur(150px);
  z-index: -1;
}

/* section why sell */
.steps {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    227.67deg,
    rgba(245, 188, 35, 0.7) 26.16%,
    rgba(245, 188, 35, 0) 72.73%
  );
}

.step-sell {
  font-weight: bold;
  font-size: 40px;
  line-height: 64px;
  text-align: center;
  color: #3c153b;
}

.step1 {
  margin-left: 200px;
  margin-top: 20px;
}

.step2 {
  margin-left: 400px;
  margin-top: 20px;
}
.step3 {
  margin-left: 600px;
  margin-top: 20px;
}
.step4 {
  margin-left: 800px;
  margin-top: 20px;
}
.step5 {
  margin-left: 1000px;
  margin-top: 20px;
}

.step1 h3,
.step2 h3,
.step3 h3,
.step4 h3,
.step5 h3 {
  font-size: 40px;
  color: #3c153b;
}

.step1 p,
.step2 p,
.step3 p,
.step4 p,
.step5 p {
  font-size: 20px;
  color: #3c153b;
}

.step-why {
  margin-top: 150px;
  font-weight: bold;
  font-size: 40px;
  line-height: 64px;
  color: #3c153b;
  text-align: center;
}

.product1 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.product2 {
  display: flex;
  justify-content: space-evenly;
}

.one h4,
.two h4,
.three h4,
.four h4 {
  font-size: 30px;
  color: #3c153b;
}

.one p,
.two p,
.three p,
.four p {
  text-align: justify;
  font-size: 20px;
  color: #3c153b;
}

.step-earn {
  background-color: #ffffff;
  font-size: 30px;
  text-align: center;
  height: 180px;
  padding-top: 90px;
}

.step-earn h2 {
  color: #3c153b;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(37, 33, 33);
  color: #ffffff;
  height: 300px;
}
.footer a {
  text-decoration: none;
  color: #ffffff;
}

.footer ul {
  list-style-type: none;
}

.f1,
.f2,
.f3,
.f4 {
  margin-top: 50px;
}

.email {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  
  color: #686767;
  background-color: #c4c4c4;
}
.fa-send-o {
  margin-left: -40px;
  height: 30px;
  border-radius: 5px;
  width: 20px;
}

.fa-instagram, .fa-twitter, .fa-youtube{
    margin: 5px;
    border: none;
    border-radius: 2px;
}

.f1 img{
    background-color: transparent;
}

.nav-toggle{
    display: none;
}


@media screen and (max-width:1050px) and (min-width:500px) {
    ul{
        list-style-type: none;
      } 
    a{
        text-decoration: none;
        color: #3c153b;
        margin-top: 10px;
    }
    .show-links{
        height: auto;
       
    }

    .nav-links{
        display: none;
    }

    .navbar button{
        background-color: transparent;
    }

    .navbar{
        width: 100%;
        height: auto;
        flex-direction: column;
        box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
    }
    .fa-bars{
        background: transparent;
    }

    .nav-toggle{
        display: block;
        margin-right: 600px;
    }
 
    .nav-links button {
        margin-right: 10px;
        width: 50px;
        height: 30px;
        border-radius: 5px;
        font-size: 20px;
      }
      .nav-links a:hover{
          color: #744e74;
      }
      
      .nav-signup {
        margin-right: 10px;
        background-color: #192033;
        color: whitesmoke;
        box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
        width: 60px;
        height: 30px;
        border-radius: 3px;
        color: #f5bc23;
        margin-top: 10px;
       
      }
      
      .nav-login {
        box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
        width: 60px;
        height: 30px;
        border-radius: 3px;
        color: #0000;
        margin-top: 10px;
        background-color: #ffffff;
        color: black;
        margin-right: 10px; 
        margin-left: -20px;
      }

      .body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
      }
      .monitize {
        position: relative;
        margin-left: 0px;
      }
      .monitize h2 {
        font-size: 40px;
        line-height: 60px;
        font-weight: 500px;
        color: #3c153b;
      }
      
      .monitize p {
        font-size: 25px;
        margin-top: 20px;
        line-height: 32px;
        font-weight: 400px;
        color: #3c153b;
      }
      
      .get-started {
        width: 150px;
        height: 40px;
        border-radius: 3px;
        background-color: #192033;
        color: #f5bc23;
        font-size: 15px;
        margin-top: 20px;
        box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
      }
      .woman-img {
        margin-top: -55px;
        margin-left: 300px;
        z-index: 1;
      }
      .woman-img img {
        box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
        width: 400px;
        height: 300;
      } 

      .circle1 {
        position: absolute;
        width: 340px;
        height: 340px;
        left: 320px;
        top: 370px;
        border-radius: 50%;
        background: #f5bc23;
      }
      .circle2 {
        position: absolute;
        width: 22px;
        height: 22px;
        left: 407px;
        top: 720px;
        background: #3c153b;
        border-radius: 50%;
      }

       /* products */
      .products {
        width: 100%;
        height: 1500px;
      }
      .products h1 {
        font-weight: 500px;
        font-size: 40px;
        line-height: 34px;
        text-align: center;
        color: #3c153b;
        margin-bottom: 40px;
      }
      img.hover-shadow {
          transition: 0.3s;
        }
        
        .hover-shadow:hover {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
      
      .products p {
        margin-top: 20px;
        font-size: 18px;
      }
      
      .products img {
        width: 300px;
        height: 132px;
      }
      
      .product-img1 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      .product-img2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 10px;
      }
      
      .img-product1,
      .img-product2,
      .img-product3,
      .img-product4,
      .img-product5,
      .img-product6 {
        box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
        width: 50%;
        margin-bottom: 20px;
        margin-left: 100px;
      }
      
      .products button {
        margin-top: 120px;
        width: 360px;
        height: 50px;
        border-radius: 3px;
        font-size: 20px;
        background-color: #192033;
        color: #f5bc23;
        margin-left: 1035px;
      }
      
      .circle3 {
        position: absolute;
        width: 630px;
        height: 602px;
        left: 442px;
        top: 1200px;
      
        background: linear-gradient(
          180deg,
          rgba(245, 188, 35, 0.42) 0%,
          rgba(245, 188, 35, 0) 100%
        );
        filter: blur(150px);
        z-index: -1;
      }

    
      /* section why sell */
.steps {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      227.67deg,
      rgba(245, 188, 35, 0.7) 26.16%,
      rgba(245, 188, 35, 0) 72.73%
    );
  }
  
  .step-sell {
    font-weight: bold;
    font-size: 26px;
    line-height: 64px;
    text-align: center;
    color: #3c153b;
  }
  
  .step1 {
    margin-left: 200px;
    margin-top: 30px;
  }
  
  .step2 {
    margin-left: 200px;
    margin-top: 30px;
  }
  .step3 {
    margin-left: 200px;
    margin-top: 30px;
  }
  .step4 {
    margin-left: 200px;
    margin-top: 30px;
  }
  .step5 {
    margin-left: 200px;
    margin-top: 30px;
  }
  
  .step1 h3,
  .step2 h3,
  .step3 h3,
  .step4 h3,
  .step5 h3 {
    font-size: 30px;
    color: #3c153b;
  }
  
  .step1 p,
  .step2 p,
  .step3 p,
  .step4 p,
  .step5 p {
    font-size: 18px;
    color: #3c153b;
  }
  
  .step-why {
    margin-top: 50px;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    color: #3c153b;
    text-align: center;
  }
  
  .product1 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    flex-direction: column;
    margin-left: 50px;
  }
  
  .product2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 50px;
  }
  
  .one h4,
  .two h4,
  .three h4,
  .four h4 {
    font-size: 20px;
    color: #3c153b;
  }
  
  .one p,
  .two p,
  .three p,
  .four p {
    text-align: justify;
    font-size: 20px;
    color: #3c153b;
  }
  
  .step-earn {
    background-color: #ffffff;
    font-size: 30px;
    text-align: center;
    height: 180px;
    padding-top: 90px;
  }
  
  .step-earn h2 {
    color: #3c153b;
  }



}